In [1]:
import pandas as pd

In [2]:
metadata = pd.read_csv('./Movie data/movies_metadata.csv')

metadata.head()

c:\users\dell\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
from sklearn.utils import shuffle
print(metadata.columns)
print(metadata.shape)
metadata1 = shuffle(metadata)

metadata1 = metadata1[:12000]
metadata1 = metadata1.reset_index(drop=True)

metadata1.head()

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')
(45466, 24)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,NaN,62000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,9087,tt0112346,en,The American President,"Widowed U.S. president Andrew Shepherd, one of...",...,1995-11-17,107879496.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why can't the most powerful man in the world h...,The American President,False,6.5,199.0
1,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,377210,tt5432446,en,Fantastic Lies,“Fantastic Lies” returns to the night of March...,...,2016-03-13,0.0,103.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Fantastic Lies,False,4.5,2.0
2,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",NaN,25110,tt0256259,en,Pauline & Paulette,Pauline is a 'little girl of 66 years old'. Sh...,...,2001-06-27,0.0,78.0,"[{'iso_639_1': 'nl', 'name': 'Nederlands'}]",Released,NaN,Pauline & Paulette,False,7.3,5.0
3,False,NaN,0,"[{'id': 10751, 'name': 'Family'}, {'id': 35, '...",http://www.hallmarkchannel.com/findingchristmas,249057,tt2964654,en,Finding Christmas,Single mother Ryan has just about given up on ...,...,2013-12-15,0.0,0.0,"[{'iso_639_1': 'ru', 'name': 'Pусский'}]",Released,NaN,Finding Christmas,False,7.0,9.0
4,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,84295,tt0022397,en,Skippy,"Skippy, the mischievous son of a wealthy docto...",...,1931-04-25,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Skippy,False,3.3,4.0

In [4]:
c = metadata1['vote_average'].mean()

In [5]:
c

5.628794066172181

In [6]:
metadata1[['title','vote_count']].head(10)

                                              title  vote_count
0                            The American President       199.0
1                                    Fantastic Lies         2.0
2                                Pauline & Paulette         5.0
3                                 Finding Christmas         9.0
4                                            Skippy         4.0
5                                     Almost Angels         1.0
6                                            Me Too        10.0
7                                An Inspector Calls        42.0
8                                         They Live       562.0
9  United States of Secrets (Part One): The Program         1.0

In [7]:
m = metadata1['vote_count'].quantile(0.90)
print(m)

148.0

In [8]:
q_movies = metadata1.copy().loc[metadata1['vote_count']>=m]
q_movies.shape

(1202, 24)

In [9]:
def weighted_rating(x, c=c,m=m):
    v = x['vote_count']
    R = x['vote_average']
    
    return (v/(v+m) * R)+ (m/(m+v)*c)

In [10]:
metadata1.shape

(12000, 24)

In [11]:
q_movies['score'] = q_movies.apply(weighted_rating,axis=1)

In [12]:
q_movies = q_movies.sort_values('score',ascending=False)

In [13]:
q_movies[['title', 'vote_count', 'vote_average', 'score']].head(20)

,title,vote_count,vote_average,score
2115,The Dark Knight,12269.0,8.3,8.268162
9830,Whiplash,4376.0,8.3,8.212613
4319,The Godfather: Part II,3418.0,8.3,8.189137
8005,One Flew Over the Cuckoo's Nest,3001.0,8.3,8.174456
7947,Interstellar,11187.0,8.1,8.067734
10389,The Lord of the Rings: The Return of the King,8226.0,8.1,8.056325
1564,Star Wars,6778.0,8.1,8.047193
8002,The Usual Suspects,3334.0,8.1,7.994963
297,"The Good, the Bad and the Ugly",2371.0,8.1,7.954808
11587,The Lion King,5520.0,8.0,7.938084
5781,Scarface,3017.0,8.0,7.889119
992,Guardians of the Galaxy,10014.0,7.9,7.866922
9969,Inglourious Basterds,6598.0,7.9,7.850172
3286,Oldboy,2000.0,8.0,7.836621
3607,La La Land,4745.0,7.9,7.831302
6134,Her,4215.0,7.9,7.822957
403,My Neighbor Totoro,1730.0,8.0,7.813132
6509,American Beauty,3438.0,7.9,7.806264
11347,Prisoners,3183.0,7.9,7.799088
5976,Dr. Strangelove or: How I Learned to Stop Worr...,1472.0,8.0,7.783371

In [14]:
metadata1['overview'].head(10)

0    Widowed U.S. president Andrew Shepherd, one of...
1    “Fantastic Lies” returns to the night of March...
2    Pauline is a 'little girl of 66 years old'. Sh...
3    Single mother Ryan has just about given up on ...
4    Skippy, the mischievous son of a wealthy docto...
5    Supported avidly by his mother and more reluct...
6    Five passengers - the Bandit, his friend Matve...
7    A mysterious Inspector investigates the wealth...
8    Nada, a down-on-his-luck construction worker, ...
9    Last year Edward Snowden downloaded tens of th...
Name: overview, dtype: object

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

metadata1['overview'] = metadata1['overview'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data

tfidf_matrix = tfidf.fit_transform(metadata1['overview'])

tfidf_matrix.shape

(12000, 39000)

In [16]:
#Array mapping from feature integer indices to feature name.
tfidf.get_feature_names()[5000:5010]

['businessman',
 'businessmen',
 'businesswoman',
 'busker',
 'buskers',
 'busload',
 'busses',
 'bussone',
 'bussotti',
 'bust']

In [17]:
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [18]:
# for i in cosine_sim[2]:
#     print(i,end=" ")
cosine_sim[2]

array([0., 0., 1., ..., 0., 0., 0.])

In [19]:
cosine_sim.shape

(12000, 12000)

In [20]:
metadata1[['title']].head(5)

                    title
0  The American President
1          Fantastic Lies
2      Pauline & Paulette
3       Finding Christmas
4                  Skippy

In [21]:
#Construct a reverse map of indices and movie titles

indices = pd.Series(metadata1.index,index=metadata1.title).drop_duplicates()
indices.head(30)

title
The American President                               0
Fantastic Lies                                       1
Pauline & Paulette                                   2
Finding Christmas                                    3
Skippy                                               4
Almost Angels                                        5
Me Too                                               6
An Inspector Calls                                   7
They Live                                            8
United States of Secrets (Part One): The Program     9
The Abdication                                      10
7 Women                                             11
The Great Gatsby                                    12
Chachi 420                                          13
Superpower                                          14
The Bride Goes Wild                                 15
Room 666                                            16
The Muppets                                         17
An American Tail: Fievel Goes West                  18
Baadasssss!                                         19
At Long Last Love                                   20
Life Is No Piece of Cake                            21
Thesis on a Homicide                                22
Hudson Hawk                                         23
Coherence                                           24
Chelsea Walls                                       25
Between Strangers                                   26
High Noon                                           27
The Open Road                                       28
The Courageous Heart of Irena Sendler               29
dtype: int64

In [22]:

def get_reccomendations(title,cosine_sim=cosine_sim,metadata1=metadata1):
    idx = indices[title]
    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]
    
    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]
    
    return metadata1['title'].loc[movie_indices]

In [23]:
get_reccomendations('The Godfather')
#The Godfather indices['The Nativity']

KeyError: 'The Godfather'

In [24]:
credits = pd.read_csv('./Movie data/credits.csv')
keywords = pd.read_csv('./Movie data/keywords.csv')

In [25]:
metadata = metadata.drop([19730, 29503, 35587])

keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
metadata['id'] = metadata['id'].astype('int')

# Merge keywords and credits into your main metadata dataframe
metadata = metadata.merge(credits, on='id')
metadata = metadata.merge(keywords, on='id')

In [26]:
metadata.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'id': 10090, 'name': 'board game'}, {'id': 1..."

In [27]:
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']

for feature in features:
    metadata[feature] = metadata[feature].apply(literal_eval)

In [28]:
import numpy as np

In [29]:
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [30]:
def getList(x):
    if(isinstance(x,list)):
        names = [i['name'] for i in x]
        
        if(len(names) >3):
            names = names[:3]
            return names
    return []

In [31]:
metadata['director'] = metadata['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']

for feature in features:
    metadata[feature]= metadata[feature].apply(getList)

In [32]:
metadata[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

,title,cast,director,keywords,genres
0,Toy Story,"[Tom Hanks, Tim Allen, Don Rickles]",John Lasseter,"[jealousy, toy, boy]",[]
1,Jumanji,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",Joe Johnston,"[board game, disappearance, based on children'...",[]
2,Grumpier Old Men,"[Walter Matthau, Jack Lemmon, Ann-Margret]",Howard Deutch,"[fishing, best friend, duringcreditsstinger]",[]

In [33]:
def clean_data(x):
    if isinstance(x,list):
        return [str.lower(i.replace(" ","")) for i in x]
    else:
        if( isinstance(x,str)):
            return str.lower(x.replace(" ",""))
        else:
            return ''

In [34]:
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    metadata[feature] = metadata[feature].apply(clean_data)

In [35]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [36]:
metadata['soup'] = metadata.apply(create_soup,axis=1)

In [37]:
metadata[['soup']].head(2)

                                                soup
0  jealousy toy boy tomhanks timallen donrickles ...
1  boardgame disappearance basedonchildren'sbook ...

In [38]:
metadata2 = shuffle(metadata)

metadata2 = metadata2[:15000]
metadata2 = metadata2.reset_index(drop=True)

In [39]:
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(metadata2['soup'])

In [40]:
count_matrix.shape

(15000, 33121)

In [41]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [45]:
# metadata = metadata2.reset_index()
indices = pd.Series(metadata2.index, index=metadata2['title'])

In [47]:
# get_recommendations('The Dark Knight Rises', cosine_sim2,metadata2)
get_reccomendations('The Dark Knight Rises', cosine_sim2,metadata2)

10984             Batman Begins
12769                   Shaitan
13914                      Sara
14467              Certain Prey
7555                One Way Out
173      A Prayer for the Dying
367                  Dirty Lies
615                Tony Arzenta
632                    Thursday
1031            Rolling Thunder
Name: title, dtype: object

In [51]:
get_reccomendations('Deadfall', cosine_sim2,metadata2)

KeyError: 'Deadfall'